@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');


:root {
--pg-text-font: 'Raleway', sans-serif;
--pg-header-font: 'Amatic SC', cursive;
--pg-bg-color: #FFF;
--header-color: #6495ED;
--header-color2: #000000;
--footer-color: #6495ED;
--input-bg: rgba(0, 0, 0,.9);
--input-bg-active: rgba(144,238,144,.4);
--input-placeholder-color: white;
--delete-btn-color: #CD5C5C;
--edit-btn-color: #008B8B;
--no-btn-color: #20B2AA
;
}


@custom-media --desktop-viewport (min-width: 30em);

@custom-media --desktop-viewport-2 (min-width: 43em);

@custom-media --desktop-viewport-3 (min-width: 51em);