@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');


:root {
--pg-text-font: 'Raleway', sans-serif;
--pg-header-font: 'Amatic SC', cursive;
--pg-bg-color: #6495ED;
--pg-bg-color2: #4169E1;
--header-color: #6495ED;
--header-color2: #FFFFFF;
--footer-color: #6495ED;
--input-bg: rgba(225,225,225,.4);
--input-bg-active: rgba(144,238,144,.4);
--input-placeholder-color: white;
}


@custom-media --desktop-viewport (min-width: 30em);

@custom-media --desktop-viewport-2 (min-width: 43em);

@custom-media --desktop-viewport-3 (min-width: 51em);