


.body-container{
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	width: 80%;
	perspective: 1000px;
}

.header-title{
	padding-top: 40px;
    font-size: 2em;
	@media (--desktop-viewport-2) {
		padding-top: 40px;
		font-size: 3em;
	}
}

.admin-container{
    width: 100%;
	text-align: center;
}

.body-title{
	text-align:center;
	font-size: 3.4em;
	color:var(--header-color2);
}

.guest-info{
	display: flex;
	flex-direction: column;
	justify-content:center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:50px;
	width: 100%;
	&__box{
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		width: 400px;
		text-align:center;
		border-radius: 10px;
		border: 3px solid white;
		&--list{
			text-align: left;
		}
	}
	&__count{
		font-size: 35px;
	}
}

.guest-list{
	margin-right: auto;
	margin-left: auto;
	&__person{
		margin-top: 16px;
		padding: 10px;
		width: 90%;
		text-align: center;
		border: 1px solid white;
		border-radius: 5px;
	}
}

.form{
	margin-right: auto;
	margin-left: auto;
	width:300px;
	transform-style: preserve-3d;
	transition: 1s all;
}

.delete-form{
	text-align:center;
}


.rsvp-form{
	position:relative;
	transition:1s all;
	height:75px;
	&__set{
		display:flex;
		position:absolute;
		top:0px;
		padding:0;
		width:inherit;
		border:4px solid white;
		backface-visibility: hidden;
		&--1{
			transform: rotateX(0deg)translateZ(36px);
		}
		&--2{
			transform: rotateX(-90deg)translateZ(34px); 
		}
		&--3{
			transform: rotateX(-180deg)translateZ(32px);
		}
	}
	&__input{
		padding:20px;
		width:75%;
		height:65px;
		font-size:25px;
		background: var(--input-bg);
		border: 0;
		transition:all 2s;
	}
	&__next{
		width:25%;
		height:65px;
		font-size:25px;
		text-align: center;
		border: 0;
		vertical-align:top;
		cursor:pointer;
	}
	&__btn{
		padding: 20px;
		width: 100%;
		height: 65px;
		font-size: 25px;
		color: white;
		background: rgba(0, 0, 0, .9);
		border: 0;
	}
}


.update-form{
	height:300px;
	&__set{
		margin-right: auto;
		margin-left: auto;
		width:300px;
		border: 0px;
	}
	&__label{
		width: 25%;
		height:40px;
	}
	&__input{
		width: 75%;
		height:40px;
		font-size:20px;
		background: var(--input-bg);
		border: 0;
	}
}



.btn {
	margin: 10px;
    padding: 10px;
    width: 100px;
    border: 2px solid white;
    border-radius: 5px;
	text-transform: capitalize;
	a{
		width: inherit;
	}
	&--delete{
		background: var(--delete-btn-color);
	}
	&--edit{
		background: var(--edit-btn-color);
	}
	&--no{
		background: var(--no-btn-color);
	}
}


.confirm-info{
	margin-top:30px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 50px;
	width:300px;
    background: rgba(225,225,255, .8);
	&__date{
		padding-left: 0px;
		width: 100%;
		text-align: start;
	}
}









