


.body-container{
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	width: 80%;
}

.body-title{
	text-align:center;
	color:var(--header-color2);
}
.rsvp-form{
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}

.guest-list{
	margin-right: auto;
	margin-left: auto;
	width:300px;
	border: 2px solid white;
	border-radius: 10px;
	&__person{
		margin: 15px auto;
		width: 90%;
		&-name{
			color: white;
			font-weight:bold;
		}
	}
}