@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');html, body {margin: 0;padding: 0;width: 100%;height: 100vh;box-sizing: border-box;font-family: 'Raleway', sans-serif;background: linear-gradient(to right, #6495ED 0%, #4169E1 50%,  #6495ED 100%)
}*, *:before, *:after {box-sizing: border-box
}h1, h2, h3 {font-family: 'Amatic SC', cursive
}img {max-width: 100%;max-height: 100%
}li {list-style-type: none
}a {color: black
}a:link {text-decoration: none
}a:visited {text-decoration: none
}a:hover {text-decoration: none
}a:active {text-decoration: none
}fieldset {border: 0 !important
}input {outline: 0
}input:focus {outline: 0
}.l-page-header {margin-top: -21px;width: 100%;height: 125px;text-align: center;color: #6495ED;background: #FFFFFF
}.l-main-container {width: 100%
}.body-container {margin-right: auto;margin-left: auto;padding-top: 25px;width: 80%
}.body-title {text-align: center;color: #FFFFFF
}.rsvp-form {margin-right: auto;margin-left: auto;width: 400px
}.guest-info {display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: center;justify-content: center;margin-right: auto;margin-left: auto;width: 100%
}@media (min-width: 43em) {.guest-info {-ms-flex-direction: row;flex-direction: row;width: 100% / 3
    }
}.guest-info__box {margin: 20px;width: 50%;text-align: center;border-radius: 10px;border: 3px solid white
}@media (min-width: 30em) {.guest-info__box {width: 100  / 3
    }
}.guest-info__box--list {text-align: left
}.guest-info__count {font-size: 35px
}.guest-list {margin-right: auto;margin-left: auto;width: 300px
}.guest-list__person {margin: 15px auto;width: 90%
}.guest-list__person-name {color: white;font-weight: bold
}.rsvp-form {position: relative;width: 350px;transform-style: preserve-3d;transition: 1s all;height: 75px
}.rsvp-form__set {position: absolute;top: 0px;padding: 0;width: inherit;border: 4px solid white
}.rsvp-form__set--2 {top: 20px
}.rsvp-form__set--3 {top: 40px
}